.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

nav{
    background: transparent;
    height: 50px;
}

ul{
    margin: 0;
}

header{
    background: rgba(0, 0, 0, 0.3);
}

#banner {
    background: transparent;
    height: 800px;
}

nav ul{
    list-style: none;
    margin: 0;
    float: right;
}

nav ul li, nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}

nav ul li a{
    line-height: inherit;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    color: #fff;
}

nav .logo{
    float: left;
    padding-left: 10px;
}

.fa-home:before {
    content: "\f015";
    color: aliceblue;
}

nav .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 28px;
}

#banner .inner{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 140px;
    color: #fff;
}

#banner .inner h1{
    margin: 0;
}

#banner .inner p{
    margin-bottom: 30px;
}

#banner .inner .more{
    margin-top: 140px;
}

#banner .inner .fa-angle-double-down{
    font-size: 48px;
    margin: 10px;
}

/*#banner2 .inner h1{*/
    /*margin: 0;*/
/*}*/

/*#banner2 .inner p{*/
    /*margin-bottom: 30px;*/
/*}*/

.fa-heart:before {
    content: "\f004";
    font-size: 77px;
    color: #ed93b1;
}

.sub-heading{
    line-height: 40px;
    margin: 20px 0;
}

#button{
    border: 0;
    background: rgba(124, 132, 121, 0.753);
    color: #eee;
    padding: 10px;
    border-radius: 5px;
}

#banner button{
    padding: 13px 23px;
}

.logo{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}

header{
    margin-bottom: -25px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 40px;
    position: center;
}

p{
    font-size: 18px;
    letter-spacing: 1px;
}

.hr{
    width: 100%;
    height: 2px;
    margin: 20px auto;
}

.sub-heading{
    font-size: 19px;
}

.green-section{
    text-align: center;
    background: #8990b5;
    color: #fff;
}

.green-section .hr{
    width: 60%;
    background: #4152b1
}

.green-section .icon-group{
    margin-top: 100px;
}

.green-section .icon-group .icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #98a0cf;
    transform: rotate(45deg);
    margin: 20px;
    padding: 10px;
}

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
    padding: 100px 0;
}

.wrapper .hr{
    margin: 20px auto;
}

.gray-section{
    background: #24241d;
    color: #fff;
}

.gray-section .img-section{
    /*width: 45%;*/
    width:45%;
    height:100%;
    min-height: 280px;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    /*border:1px solid #b9def0;*/
}

.img-section img{
    /*width: 100%;*/
    max-height:100%;
    max-width:100%;
    min-width: 60%;
    position: center;
}

.article-preview > div{
    float: left;
    font-size: 0;
}
.article-preview:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.05);
}
.article-preview::after{
    content: '';
    display: block;
    clear: both;
}

.gray-section .text-section{
    width: 50%;
    /*float: right; 使用右浮动会超出
    屏幕范围？ */ 
}

.text-section{
    position: relative;
    top: 60px;
    left: 50px;
}

.text-section h2{
    margin-bottom: 25px;
}

.text-section p{
    font-size: 18px;
    letter-spacing: 1px;
}

.text-section .sub-heading{
    font-size: 22px;
    margin-top: 0;
}

.text-section > *{
    max-width: 90%;
}

.purple-section{
    background: rgb(87, 87, 133);
    color: #fff;
    
}

.purple-section .heading-wrapper{
    text-align: center;
}

.purple-section .hr{
    background:  rgb(48, 97, 189);
    width: 60%;
}

.card{
    float: left;
    width: 50%;
    /*min-height: 300px;*/
    height: 19em;

    line-height: 2em;
    /*white-space:nowrap;*/
    overflow: hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    /*-webkit-line-clamp:2;*/

    padding: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid white;
}

.card:first-child{
    background: rgba(0, 0, 0, 0.05);
}

.card:nth-child(2){
    background: rgba(0, 0, 0, 0.1);
}

.card:nth-child(3){
    background: rgba(0, 0, 0, 0.15);
}

.card:nth-child(4){
    background: rgba(0, 0, 0, 0.2);
}

footer{
    background: #24241d;
    color: white;
    min-height: 210px;
    text-align: center;
}

ul.share-group{
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}

.share-group li{
    display: inline-block;
    padding: 20px;
}

.copy{
    margin-bottom: 20px;
}

.main-wrapper{
    background: #444 url(../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow:hidden;
}

.icon .fa
{
    font-size: 46px;
    text-align: center;
    vertical-align: middle;
    transform: rotate(-45deg);
    position: relative;
    top: 17px;
    left: 3px;
}

.mask
{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}

#sidebar
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    background: #333;
    padding: 20px 0;
    transition: right 0.5s;
}

#sidebar ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul a
{
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    width: 100%;
    display: inline-block;
}

#sidebar ul a:hover
{
    background: #444;
}

.back-to-top
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 1px solid #FF8040;
}

.article_banner {
    background: transparent;
    height: 430px;
}

.article h1
{
    border: none;
}

.article_content
{
    background: #fefefe;
}

.content_wrapper
{
    width:1080px;
    margin: 0 auto;
    white-space:pre-line;
}

.article_info
{
    font-size:14px;
    color: #888;
    padding:15px 0;
}

article
{
    line-height: 2;
    font-size: 25px;
}


#imgheadborder
{
    width:25.9%;
    padding-top:25.9%;
    margin-right:2.8%;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    position:relative;
}

.imghead
{
    position:absolute;left:110px;top:0px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    width:100%;
    height:100%;
    z-Index:-1;
    margin: auto;
}

.loginform
{
    padding: 100px;
}

.messagelist
{
    padding: 100px;
    font-size: 22px;
}

.usercenter_name
{
    font-size: 22px;
}

.messages
{
    border-bottom: 2px solid white;
    padding: 5px;
}

.article_title
{
    max-width: 50px;
}

.all_articles
{
    border-bottom: 2px solid white;
    padding-right: 20px;
    font-size: 27px;
    overflow: hidden;
}

.all_articles .td
{
    /*width: 20px;*/
    overflow: hidden;
    display: inline;
}

.pageturn {
    clear: both;
    height: 30px;
    margin: 50px auto;
    display: table;
    text-align: center;
}

.pageturn .pagelist {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.pageturn li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    float: left;
    text-align: center;
}

.pageturn li:first-child {
    margin-left: 0;
}

.pageturn li:hover a, .pageturn .active a {
    background: #717171;
    color: #fff;
    border-color: #000000;
}

.pageturn a {
    border: 1px solid #eaeaea;
    display: block;
    height: 28px;
    color: #3c3c3c;
}

.pageturn .long {
    width: 100px;
}

.pageturn .none a {
    border: 0;
}

.all_albums {
    table-layout: fixed;
    width: 98%;
    border:0px;
    margin: 0px;
}

.all_albums tr td {
    text-overflow: ellipsis; /* for IE */
    -moz-text-overflow: ellipsis; /* for Firefox,mozilla */
    overflow: hidden;
    white-space: nowrap;
    /*border: 1px solid;*/
    text-align: left
}

